<h2>Product Purchase</h2>
<div>
  <a class="btn btn-primary" href="/purchase/create">Purchase</a>
  <h1></h1>
</div>
<table class="table table-bordered">
  <thead class="thread-dark">
    <tr>
	  <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% purchases.forEach(purchase => { %>
    <tr>
      <td>
        <a href="<%= `/purchase/${purchase._id}` %>">
          <%=  purchase._id %>
        </a>
	  </td>
      <td>
        <%= purchase.totalQuantity %>
      </td>
      <td>
        <%= `$${purchase.productPrice.toFixed(2)}` %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
