<div class="row3 inspace-30 clear" id ="comments">
  <form class="content"  action="<%=`/purchase/create`%>" method="POST">
    <h2 class="content">Insert product purchase</h2>
    <label for="inputTitle">Product Name</label>
	<input type="text" name="pName" id="inputName" placeholder="Product Name" autofocus>
    <label for="inputQuantity">Quantity</label>
	<input type="text" name="pQuantity" id="inputquantity" placeholder="Quanity">
    <label for="inputPrice">Price(Per Peice)</label>
	<input type="text" name="pPrice" id="inputPrice" placeholder="Price">
	<label for="inputDob">Purchase Date</label>
    <input type="text" name="perchaseDate" id="inputPurchaseDate" placeholder="MM/DD/YYYY">
    <br /><button class="btn" type="submit">Save</button>
  </form>
</div>
