
<p>Shows Air Quality and weather around you</p>
<h2>Search city in Utah</h2>
<form class="content" id="comments" action="/airQuality/search" method="POST">
	<div class="form-floating mb-3">
	<input class="form-control" type="text" placeholder="Enter city" name="search">
</div>
	<button class="btn btn-primary" type="submit">Search</button>
</form>