<div class="siteorigin-widget-tinymce textwidget">
	<h2><strong><u>Mission</u></strong></h2>
	<p>Diamondhead is a Doctors first resource and in all aspects of restorative dentistry and continuing
		education, resulting in increased confidence, patient care and practice profitability. By communicating clearly
		our dynamic team delivers an efficient, consistent and innovative lab experience to our doctor, all while
		delivering a world-class experience to their patient.</p>
	<h2><strong><u>Values</u></strong></h2>
	<ul>
		<li>Innovative</li>
		<li>Excellence</li>
		<li>Integrity</li>
		<li>Communication</li>
		<li>Dependability</li>
		<li>Accountability</li>
		<li>Transparency</li>
		<li>Making a difference</li>
	</ul>
	<h2><strong><u>Value Proposition</u></strong></h2>
	<p>Diamondhead combines technology and industry experience to create the greatest value in the industry. We
		become a partner to our Dental offices. We are vested in the overall success of our clients.</p>

	<h2><strong><u>Team</u></strong></h2>
	<ul>
		<li>Pallav Jain</li>
		<li>Landon Swartz</li>
	</ul>
	<p>&nbsp;</p>
</div>