<div class="introblocks">
  <h1></h1>
  </div>
  <div class="introblocks">
    <h2>Welcome!</h2>
    <p> Diamondhead Dental Lab is a Doctors first resource and in all aspects of restorative dentistry and continuing education, resulting in increased confidence, patient care and practice profitability. By communicating clearly our dynamic team delivers an efficient, consistent and innovative lab experience to our doctor, all while delivering a world-class experience to their patient.</p>
	<h1>Dental Process</h1>
	<img loading="lazy" src="images/Sirona-Connect-Process.jpg" class="mx-auto d-block">

</div>
  