<div class="row3 inspace-30 clear" id ="comments">
  <form class="content"  action="<%=`/product/create`%>" method="POST">
    <h2 class="content">Insert a new product</h2>
    <label for="inputTitle">Product Name</label>
    <input type="text" name="pName" id="inputName" placeholder="Product Name" autofocus required>
    <label for="inputTitle">Product Brand</label>
    <input type="text" name="pBrand" id="inputBrand" placeholder="Product brand name" required>
    <label for="inputDescription">Description</label>
    <textarea type="text" name="pDescription" id="inputDescription" cols="25" rows="5"></textarea>
    <br /><button class="btn" type="submit">Save</button>
  </form>
</div>
