<div class="row3 inspace-30 clear" id ="comments">
  <form class="content"  action="<%=`/employees/create`%>" method="POST">
    <h2 class="content">Create Employee</h2>
    <label for="inputTitle">First Name</label>
    <input type="text" name="fname" id="inputFName" placeholder="First Name" autofocus>
    <label for="inputTitle">Last Name</label>
    <input type="text" name="lname" id="inputLName" placeholder="Last Name">
    <label for="inputDob">Date of birth</label>
    <input type="text" name="dob" id="inputDob" placeholder="MM/DD/YYYY">
    <label for="inputPNumber">Phone Number</label>
    <input type="text" name="pnumber" id="inputPNumber" placeholder="XXX-XXX-XXXX">
    <label for="inputEmail">Email</label>
    <input type="email" name="email" id="inputEmail" placeholder="Email">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password">
    <label for="inputUserType">User Type</label>
    <input type="text" name="userType" id="inputUserType" placeholder="Type">
    <label for="inputHireDate">HireDate</label>
    <input type="text" name="hireDate" id="inputHireDate" placeholder="MM/DD/YYYY">
    <br /><button class="btn" type="submit">Save</button>
  </form>
</div>
